<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.BoardMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
 


		 <!-- insert -->
		 <insert id="insertBoard" parameterType="board">
			 INSERT INTO 
			 board(BoardType,MemberNo,PartyNo)
 			 VALUES
 			 ('quest',1,1);
		  </insert>
		  
		  <select id="selectBoardNo" resultType="int">
				SELECT BoardNo 
				FROM Board 
				WHERE MemberNo =  #{MemberNo}  and BoardType = 'quest';
		  </select>
		  
		  
		  
		  <select id = "selectAllBoardList" parameterType="board">
		  <![CDATA[
		     SELECT
		        BOARDNO,
		        BOARDTYPE,
		        PARTYNO,
		        MEMBERNO
		        FROM
		            BOARD
		        
		  
		  
		  ]]>
		  
		  </select>
		 
	

</mapper> 	
	

	
	
	
