<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.CommReplyMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
 		<!--  기본 불러오기 구문 -->
		<sql id="selectDefault">
		 SELECT
		 comm.BoardNo,comm.CommNo,comm.Context,comm.Writer,comm.Title,comm.RegDate,comm.Deleted 
		 FROM 
		 comm
		</sql>  
 


		 <!-- insert -->
		 <!-- no group user comm의 boardno == 2 -->
		 <insert id="insertCommReply" parameterType="commReply">
			 INSERT INTO 
			   comm(comm.BoardNo,comm.Title,comm.Context,comm.Writer) 
 			 VALUES
 				(2,#{title},#{context},#{writer})
			</insert>
		  
		<!--  select -->
		<select id="selectAllCommReplyList" resultType="commReply">
			<include refid="selectDefault" /> 
			WHERE deleted=0
		</select>
		
		<!--  select limits -->
		<select id="selectCommReplyListOrderByDesc" parameterType="hashMap" resultType="commReply">
			<include refid="selectDefault" />  
			WHERE deleted=0 
			ORDER BY RegDate 
			DESC LIMIT #{ start },#{ end };
		</select>

</mapper> 	
	

	
	
	
