<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.MemberMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
		 <!-- insert -->
		 <insert id="insertMember" parameterType="Member">
			 INSERT INTO
			 Member (Email, Password, Sexual, Name, Grade, Submit, UserType, ExtMember) 
			 VALUES (#{email}, password(#{password}), #{sexual}, #{name}, #{grade}, #{submit}, #{userType}, #{extMember})
		 </insert>
		 
		 <select id="selectMemberByEmailAndPassword" parameterType="hashMap" resultType="Member">
		 	SELECT * 
		 	from Member	 		
		 	WHERE Email = #{email} AND Password = password(#{password}) 
		 </select>
		 <select id="selectAllMemberList" resultType="Member">
		 	SELECT * from Member	 	 
		 </select>
		 
		 
		 
	

</mapper> 	
	

	
	
	
