<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.PartyNoticeMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
 


		 <!-- insert -->
		 <insert id="insertPartyNotice" parameterType="partynotice">
			 INSERT INTO 
			 PartyNotice(NoticeNo,Context,Deleted,BoardNo,ViewCount,Title)
			 VALUES
			 ( #{noticeNo} , #{context} , #{deleted} , #{boardNo} , #{viewCount} , #{title} );
			 
			
		  </insert>
		  
		  <select id="selectPartyNoticeNo" resultType="int">
				SELECT count(*) 
				FROM PartyNotice 
		  </select>
		  
		  <select id="selectAllPartyNoticeList" resultType="partynotice">
				SELECT NoticeNo, BoardNo, Title, Context, RegDate,  ViewCount,  Deleted
				FROM PartyNotice
				WHERE Deleted = '0'
				ORDER BY NoticeNo DESC
		 </select>
		  
		   <select id="selectAllPartyNoticeListByReg" resultType="partynotice">
				SELECT NoticeNo, BoardNo, Title, Context, RegDate,  ViewCount,  Deleted
				FROM PartyNotice
				WHERE Deleted = '0'
				ORDER BY RegDate 
				DESC
		 </select>
		  
		  
		  
		  
		  <update id="deletePartyNoticeByIndex" parameterType="int">
		UPDATE PartyNotice SET Deleted = '1' WHERE NoticeNo = #{NoticeNo}
	</update>

		 
	

</mapper> 	
	

	
	
	
