<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.QuestMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
 


		 <!-- insert -->
		 <insert id="insertQuest" parameterType="quest">
			 INSERT INTO 
			 Quest(BoardNo,Title,Context,Writer, SavedFilePath, RealFilePath)
 			 VALUES
 			 (#{boardNo}, #{title}, #{context}, #{writer}, #{savedFilePath}, #{realFilePath});
		  </insert>
		  
		  <insert id="insertQPicture" parameterType="qpicture">
		     
			 INSERT INTO 
			 QPicture(QuestNo, SavedFilePath, RealFilePath, Writer)
 			 VALUES
 			 (#{questNo}, #{savedFilePath}, #{realFilePath}, #{writer} );
		  </insert>
		  
		  <select id="selectQuestNo" resultType="int">
				SELECT count(*) 
				FROM quest 
		  </select>
		  
		  <select id="selectAllQuests" resultType="quest">
				SELECT QuestNo, BoardNo, Title, Context, RegDate, Writer, ViewCount, GoodCount, Deleted, SavedFilePath, RealFilePath
				FROM quest
				ORDER BY QuestNo DESC
		  </select>
		  
		  <select id="selectQPicture" resultType="qpicture">
				SELECT QPictureNo, SavedFilePath, RealFilePath, RegDate, QuestNo
				FROM qpicture
		  </select>
		  
		  
		  <select id="searchQpicture" resultType="qpicture">
				SELECT QPictureNo, SavedFilePath, RealFilePath, RegDate, QuestNo
				FROM qpicture
				WHERE QuestNo = #{ questNo }
		  </select>
		  
		  
		  <select id="searchQuest" resultType="quest">
			 SELECT QuestNo, BoardNo, Title, Context, RegDate, Writer, ViewCount, GoodCount, Deleted, SavedFilePath, RealFilePath
 			 FROM quest
 			 WHERE QuestNo = #{ questNo } 
		  </select>
		  
		 
		 
		  
		  <select id = "selectAllQuestList" parameterType="quest">
		  <![CDATA[
		     SELECT
		        BOARDNO,
		        QUESTNO,
		        TITLE,
		        CONTEXT,
		        REGDATE,
		        WRITER,
		        VIEWCOUNT,
		        GOODCOUNT,
		        DELETED
		        FROM
		            QUEST
		        
		  
		  
		  ]]>
		  
		  </select>
		 
	

</mapper> 	
	

	
	
	
