<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 논리적 클래스 만들기 -->  
<mapper namespace="com.project.model.mapper.QuestMapper">


<!-- interface에 따른 query language 생성 -->

<!--  template -->

<!-- 	
	
	<sql id="selectDefault"></sql>

	<insert id="d" parameterType="d"></insert>
	
	<select id="d" resultType="d">
			<include refid="selectDefault" />
	</select>
	
		<sql id="selectDefault">
 			SELECT *
 			FROM MEMBER
 		</sql>
  
 		<select id="selectAllMemberList" resultType="member">
			<include refid="selectDefault" />
		</select>
	
 -->		
 


		 <!-- insert -->
		 <insert id="insertQuest" parameterType="quest">
			 INSERT INTO 
			 Quest(BoardNo,Title,Context,Writer, SavedFilePath, RealFilePath)
 			 VALUES
 			 (#{boardNo}, #{title}, #{context}, #{writer}, #{savedFilePath}, #{realFilePath});
		  </insert>
		  
		  <insert id="insertQPicture" parameterType="qpicture">
		     
			 INSERT INTO 
			 QPicture(QuestNo, SavedFilePath, RealFilePath, Writer)
 			 VALUES
 			 (#{questNo}, #{savedFilePath}, #{realFilePath}, #{writer} );
		  </insert>
		  
		   <insert id="insertTag" parameterType="tag">
		     
			 INSERT INTO 
			 QuestTag(TagNo, QuestNo)
 			 VALUES
 			 (#{ tagNo }, #{questNo} );
		  </insert>
		  
		  <update id="updateAnswerCount" parameterType="quest">
		  UPDATE Quest 
		  SET ViewCount= #{ viewCount } 
		  WHERE QuestNo = #{ questNo };
		  </update>
		  
		  <update id="updateGoodCount" parameterType="quest">
		  UPDATE Quest 
		  SET GoodCount= GoodCount + 1 
		  WHERE QuestNo = #{ questNo };
		  </update>
		  
		  <select id="selectQuestNo" resultType="int">
				SELECT count(*) 
				FROM Quest 
		  </select>
		  
		  <select id="selectAllQuests" resultType="quest">
				<!-- SELECT QuestNo, BoardNo, Title, Context, RegDate, Writer, ViewCount, GoodCount, Deleted, SavedFilePath, RealFilePath
				FROM Quest
				ORDER BY QuestNo DESC -->
				SELECT Quest.QuestNo, Quest.BoardNo, Quest.Title, Quest.Context, Quest.RegDate, Quest.Writer, Quest.ViewCount, Quest.GoodCount, Quest.Deleted, Quest.SavedFilePath, Quest.RealFilePath, Tag.TagName, Tag.TagNo
				FROM Quest, Tag, QuestTag
				WHERE Quest.QuestNo = QuestTag.QuestNo and QuestTag.TagNo = Tag.TagNo
				ORDER BY QuestNo DESC
		  </select>
		  
		  <select id="selectAllTagQuests" resultType="quest">
				SELECT Quest.QuestNo, Quest.BoardNo, Quest.Title, Quest.Context, Quest.RegDate, Quest.Writer, Quest.ViewCount, Quest.GoodCount, Quest.Deleted, Quest.SavedFilePath, Quest.RealFilePath, Tag.TagName
				FROM Quest, Tag, QuestTag
				WHERE Quest.QuestNo = QuestTag.QuestNo and QuestTag.TagNo = Tag.TagNo and Tag.TagNo = #{ tagNo }
				ORDER BY QuestNo DESC
		  </select>
		  
		  	  
		  <select id="selectAllTag" resultType="tag">
				SELECT TagNo, TagName, TagType
				FROM Tag
		  </select>
		  
		  <select id="selectQPicture" resultType="qpicture">
				SELECT QPictureNo, SavedFilePath, RealFilePath, RegDate, QuestNo
				FROM QPicture
		  </select>
		  
		  
		  <select id="searchQpicture" resultType="qpicture">
				SELECT QPictureNo, SavedFilePath, RealFilePath, RegDate, QuestNo
				FROM QPicture
				WHERE QuestNo = #{ questNo }
		  </select>
		  
		  
		  <select id="searchQuest" resultType="quest">
			 SELECT QuestNo, BoardNo, Title, Context, RegDate, Writer, ViewCount, GoodCount, Deleted, SavedFilePath, RealFilePath
 			 FROM Quest
 			 WHERE QuestNo = #{ questNo } 
		  </select>
		  
		  
		  
		  
		  
		    <select id="selectAllNoneQuests" resultType="quest">
				SELECT Quest.QuestNo, Quest.BoardNo, Quest.Title, Quest.Context, Quest.RegDate, Quest.Writer, Quest.ViewCount, Quest.GoodCount, Quest.Deleted, Quest.SavedFilePath, Quest.RealFilePath, Tag.TagName, Tag.TagNo
				FROM Quest
                INNER JOIN QuestTag 
                ON QuestTag.QuestNo = Quest.QuestNo
                INNER JOIN Tag
                ON Tag.TagNo = QuestTag.TagNo
                WHERE Quest.QuestNo NOT IN (SELECT QuestNo FROM Answer)
				ORDER BY Quest.QuestNo DESC
		  </select>
		  
		  <select id="selectAllNoneTagQuests" parameterType="int"  resultType="quest">
				SELECT Quest.QuestNo, Quest.BoardNo, Quest.Title, Quest.Context, Quest.RegDate, Quest.Writer, Quest.ViewCount, Quest.GoodCount, Quest.Deleted, Quest.SavedFilePath, Quest.RealFilePath, Tag.TagName, Tag.TagNo
				FROM Quest, Answer, Tag, QuestTag
				WHERE Quest.QuestNo != Answer.QuestNo and Quest.QuestNo = QuestTag.QuestNo and QuestTag.TagNo = Tag.TagNo and Tag.TagNo = #{TagNo}
				GROUP by Quest.QuestNo
				ORDER BY Quest.QuestNo DESC;
		  </select>
		 
		 
		  
		  <select id = "selectAllQuestList" parameterType="quest">
		  <![CDATA[
		     SELECT
		        BOARDNO,
		        QUESTNO,
		        TITLE,
		        CONTEXT,
		        REGDATE,
		        WRITER,
		        VIEWCOUNT,
		        GOODCOUNT,
		        DELETED
		        FROM
		            QUEST
		        
		  
		  
		  ]]>
		  
		  </select>
		 
		 
		 <select id="selectQuestListOrderByDesc" parameterType="HashMap" resultType="quest">
		   SELECT 
		   BoardNo,QuestNo,Title,Context,RegDate,Writer,ViewCount,GoodCount,Deleted 
		   FROM 
		   Quest 
		   WHERE 
		   Deleted =0 
		   ORDER BY 
		   RegDate 
		   DESC LIMIT #{ start }, #{ end };
		  </select>
	

</mapper> 	
	

	
	
	
